*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #23272F;
}
.App{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}
.contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.contenedor-logo{
    height: 280px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.contenedor-principal{
    text-align: center;    
}